In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('input_datasets/20201030_binary_matrix.csv', sep=',', header=None)

In [6]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,539,540,541,542,543,544,545,546,547,548
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0

In [34]:
len(df.index)

17

In [8]:
quantos = 0
for index, row in df.iterrows():
    if row[535] == 1:
        quantos += 1
quantos

847

In [ ]:
disp = 0
for index, row in df.iterrows():
    if row['DISPNEIA'] == 'SIM':
        disp += 1
disp

In [ ]:
225694 - 185201

In [ ]:
df.DISPNEIA.unique()

In [ ]:
new_df = df.loc[df['DISPNEIA'] == 'SIM']

In [ ]:
len(new_df.index)

In [23]:
# Sintomáticos
for index, row in df.iterrows():
    if row['FEBRE'] == 'NAO' and row['TOSSE'] == 'NAO' and row['GARGANTA'] == 'NAO' and row['DISPNEIA'] == 'NAO':
        df.drop(index, inplace=True)

In [24]:
len(df.index)

21

In [27]:
df.tail()

   FEBRE TOSSE GARGANTA DISPNEIA
36   NAO   SIM      SIM      NAO
39   NAO   SIM      SIM      NAO
41   SIM   SIM      SIM      NAO
43   NAO   SIM      SIM      NAO
44   SIM   SIM      NAO      NAO

In [35]:
for index, row in df.iterrows():
    if row[555] == 1 and row[557] == 1 and row[559] == 1 and row[561] == 1:
        df.drop(index, inplace=True)

In [36]:
len(df.index)

8

In [40]:
df[557]

2     1
3     0
4     0
5     0
7     0
10    1
11    0
16    0
Name: 557, dtype: int64

In [25]:
df = pd.read_csv('20201030_binary_matrix_panda.csv', header=None, )

In [26]:
df

array([['0 498 501 513 515 519 524 529 531 534             '],
       ['0 498 502 514 515 518 524                '],
       ['0 497 501 514 515 518 525                '],
       ...,
       ['494 498 501 512 515 518 525 529 531 533            '],
       ['494 498 501 512 515 518 524 531 533             '],
       ['494 499 502 512 515 518 524 533              ']], dtype=object)