In [1]:
import pandas as pd

In [32]:
df = pd.read_csv('amostra_sintomas.csv', header=None, sep=',')

In [33]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,582,583,584,585,586,587,588,589,590,591
0,1,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,1,0,1,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,1,0,1,0,1
2,1,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,1,0,1,0,1
3,0,1,0,0,0,0,0,0,0,0,...,0,1,0,1,0,1,0,1,0,1
4,0,1,0,0,0,0,0,0,0,0,...,0,1,0,1,0,1,0,1,0,1

In [34]:
len(df.index)

17

In [ ]:
quantos = 0
for index, row in df.iterrows():
    if row['FEBRE'] == 'SIM' or row['TOSSE'] == 'SIM' or row['GARGANTA'] == 'SIM' or row['DISPNEIA'] == 'SIM':
        quantos += 1
quantos

In [ ]:
disp = 0
for index, row in df.iterrows():
    if row['DISPNEIA'] == 'SIM':
        disp += 1
disp

In [ ]:
225694 - 185201

In [ ]:
df.DISPNEIA.unique()

In [ ]:
new_df = df.loc[df['DISPNEIA'] == 'SIM']

In [ ]:
len(new_df.index)

In [23]:
# Sintomáticos
for index, row in df.iterrows():
    if row['FEBRE'] == 'NAO' and row['TOSSE'] == 'NAO' and row['GARGANTA'] == 'NAO' and row['DISPNEIA'] == 'NAO':
        df.drop(index, inplace=True)

In [24]:
len(df.index)

21

In [27]:
df.tail()

   FEBRE TOSSE GARGANTA DISPNEIA
36   NAO   SIM      SIM      NAO
39   NAO   SIM      SIM      NAO
41   SIM   SIM      SIM      NAO
43   NAO   SIM      SIM      NAO
44   SIM   SIM      NAO      NAO

In [35]:
for index, row in df.iterrows():
    if row[555] == 1 and row[557] == 1 and row[559] == 1 and row[561] == 1:
        df.drop(index, inplace=True)

In [36]:
len(df.index)

8

In [40]:
df[557]

2     1
3     0
4     0
5     0
7     0
10    1
11    0
16    0
Name: 557, dtype: int64